*.env
__pycache__/

# data backups
*.dump
_restore_tmp/
*.dir.tar.gz

# wechat miniprogram private
myfood-miniprogram/project.private.config.json

myfood-miniprogram/node_modules/
myfood-miniprogram/package-lock.json
